@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Vítej ve hře</p>
    <div><a asp-page="./Game" class="btn btn-outline-primary btn-lg">Vítejte ve hře Bludiště</a></div>
</div>
